@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

.handle {
  flex: 1;
  text-align: center;
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
}

body {
  font-family: 'Roboto', sans-serif;
}


